<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
        <meta http-equiv="X-UA-Compatible"  content="ie=edge" />
        <title>Register</title>
    </head>
    <body>
            <h1>Register</h1>

           

            <form action="/users/register" method="POST">
                <div>
                    <input type="text" id="firsname" name="firstname" placeholder="firstname" required/>
                </div>
                <div>
                    <input type="text" id="lastname" name="lastname" placeholder="lastname" required/>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="email" required/>
                </div>
                <div>
                    <input type="number" id="balance" name="balance" placeholder="balance" step="0.01" required/>
                </div>
               
                <div>
                    <input type="password" id="password" name="password" placeholder="password" required/>
                </div>
                <div>
                    <input type="password" id="password2" name="password2" placeholder="Confirm password" required/>
                </div>
                <div>
                    <input type="submit" value="Register"/>
                </div>
                <a href="/users/login">Already registred ? login here</a>

            </form>
    </body>
</html>